
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

body {
  color: #eae7e7;
  background-color: rgb(226, 43, 128);
}

h1 {
  color: #eae7e7;
  font-family: monospace;
  text-align: center;
}

.button {
  width: 600px;
  height: 100px;
  font-size: 4.2em;
  margin:150px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  color: #eae7e7;
  background-color: rgb(226, 43, 128);
  border: 2px solid #eae7e7;
  font-family: fantasy;
}

.message {
  text-align: center;
  font-size: 2.2em;
  font-family: monospace
}