.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.message {text-align: center;
}

@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

body {
  background: #dc90ad;
  display: flex;
}

button {
  width: 240px;
  font-size: 1.2em;
  margin:150px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  color: #333;
  i {
    animation: bang 750ms ease-out forwards;
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    opacity: 0;
  }

}