
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

body {
  color: #eae7e7;
  background-color: #EB4796;
}

h1 {
  color: #eae7e7;
  font-family: monospace;
  text-align: center;
}

.button {
  width: 600px;
  height: 100px;
  font-size: 4.2em;
  margin: 25px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  color: #eae7e7;
  background-color: #EB4796;
  border: 2px solid #eae7e7;
  font-family: fantasy;
  position: relative;
}

.message {
  text-align: center;
  font-size: 2.2em;
  font-family: monospace;
  width: 600px;
  height: 200px;
}